<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Question</title>
</head>

<body>
    <h1>Edit Question</h1>
    <form action="/questions/<%= question._id%>?_method=PUT" method="post">
        <div>
            <label for="question">Question: </label>
            <input type="text" id="question" name="question[question]" value="<%= question.question %>">
        </div>
        <div>
            <label for="category">Category: </label>
            <select name="question[category]" id="category">
                <% for(let category of categories){ %>
                    <option value="<%=category%>" <%=question.category===category?'selected':'' %>>
                        <%=category%>
                    </option>
                    <% } %>
            </select>
        </div>
        <div>
            <label for="description">Description: </label>
            <input type="text" id="description" name="question[description]" value="<%= question.description %> ">
        </div>
        <button>Update Question</button>
    </form>
    <a href="/questions/<%=question._id %>">Back to Questions</a>
</body>

</html>