<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Question</title>
</head>

<body>
    <h1>
        <%= question.question%>
    </h1>
    <h3>
        Category: <%= question.category %>
    </h3>
    <p>
        <%= question.description %>
    </p>
    <p><a href="/questions/<%=question._id%>/edit">Edit Question</a>
    </p>
    <form action="/Questions/<%= question._id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <footer>
        <a href="/questions">Back to All Questions</a>
    </footer>
</body>

</html>